# Ignore virtual environment in the server folder
server/env/
server/venv/
server/.venv/

# Ignore node modules in the client folder
client/node_modules/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files (optional)
*.sqlite3

# Ignore Django migrations
**/migrations/*.py
**/migrations/*.pyc

# Ignore environment variables
.env

# Ignore build files (optional)
build/
dist/
*.log

